@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body,
h1,
h2,
h3,
h4,
ul,
p{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-lg {
    font-size: 24px;
}

.font-md {
    font-size: 20px;
}

/* ---------Header--------- */

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav>a {
    padding: 20px 0 0 30px;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

/* ---------Hero Section---------*/

.hero {
    background-image: url("https://i.ibb.co/LxsJtfY/background.png");
    height: 100vh;
    text-align: center;
    background-size: cover;
}

.hero__wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero__wrapper h1 {
    margin: 0 13px 4px;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.12px;
    color: white;
}

.hero__wrapper p {
    margin-top: 4px;
    opacity: 0.9;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    color: white;
}
form{
    margin-top: 22px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.hero__wrapper>input,
.third-main__wrapper>input {
    border-radius: 0;
    border: none;
}

.input__search {
    /* margin-top: 25px; */
    padding: 18px 112px 18px 20px;
    outline: none;
    margin-right: 0;
    float: left;
}

.input__postcode {
    padding: 18px 5px 18px 19px;
    /* position: relative;
    left: -4px; */
    outline: none;
    float: left;
}

.black-btn {
    padding: 18px 20px 18px 20px;
    background-color: #342c2c;
    color: #ffffff;
    /* position: relative;
    left: -8px; */
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.05px;
    float: left;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    display: flow-root;
}

/* ---------Main section--------- */

.main__wrapper {
    margin-top: 80px;
    text-align: center;
}


.main__wrapper h2 {
    opacity: 0.8;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
    font-size: 30px;
    letter-spacing: 0.06px;
    color: #000000;

}

h2 span {
    letter-spacing: 0.06px;
    font-weight: bold;
}

.main__wrapper p {
    margin: 16px 0 0 0;
    opacity: 0.5;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    font-weight: 500;
    text-align: center;
    color: #696969;
}

.cars-card {
    display: inline-block;
    text-align: center;
    margin: 62px 23px 0 0;

}

.cars-card__img {
    width: 185px;
    height: 148px;
    padding: 21px 21px 20px 39px;
    border-radius: 4px;
    background-color: rgba(227, 227, 227, 0.73);
    display: block;
}

.cars-card__text {
    margin-top: 6px;
    opacity: 0.8;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
    font-weight: 600;
    letter-spacing: 0.05px;
    color: #000000;
    display: inline-block;
}

.first-main__cars,
.second-main {
    text-align: center;
}

.container button {
    width: 230px;
    height: 60px;
    padding: 20px 24.5px 19px;
    box-shadow: 0 20px 40px 0;
    background-color: #f5a623;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.06px;
    color: #ffffff;
    border: none;
    margin-top: 50px;
}

.tips-card__box {
    width: 330px;
    height: 200px;
    display: inline-block;
    margin: 51px 34px 0 0;
}

.tips-card {
    background-image: url('https://i.ibb.co/bBNFcRG/rectangle-2.png');
}

.tips-card__one {
    background-image: url('https://i.ibb.co/B4dmP1M/rectangle-1.png');
}

.tips-card__two {
    background-image: url('https://i.ibb.co/RzKGQG4/rectangle-3.png');
    margin-right: 0;
}

.tips-card__box h3 {
    text-align: center;
    position: relative;
    top: 70%;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.44);
    letter-spacing: 0.05px;
    color: #ffffff;
}

.third-main {
    background-image: url("https://i.ibb.co/LzKyw9Y/group-3.png");
    width: 100%;
    height: 348px;
    margin-top: 80px;
    background-size: cover;
}

.third-main__wrapper {
    padding-top: 70px;
    text-align: center;
}

.third-main__wrapper h2 {
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.13);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.09px;
    color: #ffffff;
}

.third-main__wrapper p {
    margin: 15px 21px 0 42px;
    opacity: 0.9;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.38);
    text-align: center;
    color: #ffffff;
}

/* ---------Footer Section --------- */

footer {
    width: 100%;
    height: 70px;
    padding: 36px 0 34px 0;
    background-color: #342c2c;
}

footer h4 {
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
    font-weight: bold;
    letter-spacing: 0.06px;
    color: #ffffff;
    display: inline;
    float: left;
    padding-top: 20px;
}

.container__list {
    float: right;
    padding-top: 20px;
}

li {
    display: inline;
    margin-right: 17px;
    letter-spacing: 0.05px;
    font-size: 16px;
}

li:nth-child(3) {
    margin-right: 0;
}
